
.temp{
    position: absolute;
    left: 4cm;
}
.humi{
    padding-left: 2cm;
} 
light{
    left: 60cm;
} 

.title{
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.10rem rgb(224, 224, 224));
    padding-left: 20px; 
    font: italic bold 60px/20px Georgia, serif;
}

.stat{
    background-size: cover; 
    min-height: 260px;
    min-width: 350px;
}
.dashboard{
    
    min-width: 1080px;
    min-height: 150px;
    background: rgb(193, 193, 255);
}
.led{
    border-radius: 10px;
    min-width: 150px;
    min-height: 130px;
}

.led:hover{
    color: rgb(118, 255, 255);
}

.door{
    padding-right:0cm; 
    border-radius: 10px;
    min-width: 150px;
    min-height: 130px;
}

.door:hover{
    color: rgba(185, 117, 39, 0.541);
}

.air{
    background-size: cover; 
    border-radius: 10px;
    min-width: 150px;
    min-height: 130px;
}

.air:hover{
    color: rgb(254, 255, 172);
}

.ring{
    background-size: cover; 
    border-radius: 10px;
    min-width: 150px;
    min-height: 130px;
}
.ring:hover{
    color: pink;
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(83, 82, 81), rgb(218, 169, 105), rgb(82, 156, 184), rgb(15, 24, 22));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 10%;
	right: 0;
	left: 0;
} */