.page{
    margin: auto;
    text-align: center;
    background-image: url(night.png);
}

.title{
    
    height: 150px;
}

.container{

}

.led-button{
    background-image: url(led.gif);
    height: 200px;
}

.ring-button{
    height: 200px;
    background-image: linear-gradient(to left bottom, #051937, #102f66, #2c4499, #5159cc, #7f6cff);
}

.air-button{
    height: 200px;
    background-image: linear-gradient(to left bottom, #051937, #004b71, #0084a4, #00c1ca, #6cffe1);
}

.door-button{
    height: 200px;
    background-image: linear-gradient(to left bottom, #051937, #613662, #b9586d, #f49464, #ffe56c);
}

.display{
    height: 200px;
    background-image: linear-gradient(to left bottom, #051937, #4b305c, #924870, #d26873, #ff996c);
}
.dashboard{
    height: 200px;
    background-image: linear-gradient(to left bottom, #051937, #1c4469, #32749c, #4ca9cf, #6ce1ff);
}